@model Inventory.Models.PurchaseRequisition

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PurchaseRequisition</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalRequirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseRequisitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
