@model Inventory.Models.WorkOrder

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>WorkOrder</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.WorkOrderId)

        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkOrderNumber)
                @Html.ValidationMessageFor(model => model.WorkOrderNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModUserId, "LastModUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LastModUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.LastModUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModDttm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModDttm)
                @Html.ValidationMessageFor(model => model.LastModDttm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedUserId, "CreatedUserId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CreatedUserId", String.Empty)
                @Html.ValidationMessageFor(model => model.CreatedUserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDttm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedDttm)
                @Html.ValidationMessageFor(model => model.CreatedDttm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssembledBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssembledBy)
                @Html.ValidationMessageFor(model => model.AssembledBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDate)
                @Html.ValidationMessageFor(model => model.OrderDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompleteDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompleteDate)
                @Html.ValidationMessageFor(model => model.CompleteDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationId, "LocationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationId", String.Empty)
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExtraCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExtraCost)
                @Html.ValidationMessageFor(model => model.ExtraCost)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
